<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.min.css">
    <script src="/style/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/style/css/home.css">
    <link rel="stylesheet" href="/style/css/menu.css">
    <title>会議室予約</title>
</head>
<body> 
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0e8695;">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">会議室予約一覧・編集システム</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/kk/job">予約一覧・編集</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary" href="/kk/plan">新規予約</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kk/operation">内容・担当編集</a>
          </li>
        </ul>
      <div class="d-flex">
        <a class="btn btn-outline-light" href="/logout">ログアウト</a>
      </div>
    </div>
  </div>
</nav>
<nav class="tableShow">
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
            	<div id="logo" class="col-6 text-center pb-1">
                	<img alt="K&Kソフト株式株式" src="/file/logo.png">
                </div>
                <h2 class="text-center mb-2">新規会議室予約</h2>
                <p class="text-success text-center fs-5" th:text="${msg}"></p>
                <p class="text-danger text-center fs-5" id="msg">　</p>
                <form class="login-form" th:action="@{/kk/plan}" method="post">
                        <div class="mb-1">
                            <label for="date_plan" class="form-label">日付：(<input type="text" name="date_day" class ="none_css" id="date_day" required readonly>)</label>
                            <input type="date" class="form-control" id="date_plan" name="date_plan" required>
                        </div>
                        <div class="mb-3">
                            <label for="time_start" class="form-label">開始：</label>
                            <input type="time" class="form-control" id="time_start" name="time_start" required>
                        </div>
                        <div class="mb-3">
                            <label for="time_end" class="form-label">終了</label>
                            <input type="time" class="form-control" id="time_end" name="time_end" required>
                        </div>
                        <div class="mb-1">
                            <label for="purpose" class="form-label">内容：</label>
                            <div id="purpose"></div>
                        </div>
                        <div class="mb-1">
                            <label for="charge" class="form-label">担当：</label>
                            <div id="charge"></div>
                        </div>
                    <button type="submit" class="btn btn-primary btn-block btn-outline-success" id="submit">予約</button>
                </form>
                    <a href="/kk/job" class="btn btn-outline-danger mt-2">予約表示画面</a>
            </div>
        </div>
    </div>
    </nav>
    <script src="/style/js/setPlan.js"></script>
</body>
</html>