<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css">
    <script src="style/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style/css/home.css">
    <title>認証番号生成</title>
</head>
<body>
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
                <h2 class="text-center mb-4">パスワード再設定</h2>
                <p class="text-success text-center fs-5" th:text="${msg}"></p>
                <form class="login-form" th:action="@{/sendtoken}" method="get">
                	<div th:if="${param.error}">
            			<p style="color: red; text-align: center;">認証番号を送信できませんでした。</p>
       				 </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">メールアドレス：</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="メールアドレスを入力ください。" required>
                        <div id="email-error" class="text-danger  mt-1">　</div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-outline-success" id="submit">送信</button>
                </form>
                    <a href="/login" class="btn btn-outline-danger mt-2">ログイン</a>
            </div>
        </div>
    </div>
    <script src="style/js/getPassword.js"></script>
</body>
</html>