<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/bootstrap/css/bootstrap.min.css">
    <script src="/style/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/style/css/index.css">
    <title>会議室予約</title>
</head>
<body>
	<section class="intro">
        <div class="bg-image h-100" style="background-color: #f5f7fa; ">
          <div class="mask d-flex align-items-center h-100">
            <div class="container px-1" style="width:100%;">
              <div class="row justify-content-center">
                <div class="col-12">
                	<div class="d-flex flex-row-reverse">
                	<button class="btn btn-outline-success m-2" id="fullWidth">全画面表示</button>
        			<a class="btn btn-outline-success m-2" href="/login">ログイン</a>
                	</div>
                  <div class="card">
                    <div class="card-body p-0">
                      <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true">
                        <table class="table table-striped mb-0">
                          <thead style="background-color: #0e8695;">
                            <tr class="text-center">
                              <th scope="col" class="col-4">日付</th>
                              <th scope="col" class="col-4">時間</th>
                              <th scope="col" class="col-1">内容</th>
                              <th scope="col" class="col-2">担当</th>
                            </tr>
                          </thead>
                          <tbody id="job" class="text-center">
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     <script type="text/javascript" src="/style/soket/sockjs_1.4.0.js"></script>
    <script type="text/javascript" src="/style/soket/stomp_2.3.3.js"></script>
    <script src="/style/js/index.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let myJob = /*[[${job}]]*/;
        plan(myJob);
        /*]]>*/
    </script>
</body>
</html>