<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css">
    <script src="style/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style/css/home.css">
    <title>パスワード再設定</title>
</head>
<body>
	<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 form-container">
            	<div id="logo" class="col-6 text-center pb-5">
                		<img alt="K&Kソフト株式株式" src="/file/logo.png">
                </div>
                <h2 class="text-center mb-4">パスワード再設定</h2>
                <p class="text-success text-center fs-5" th:text="${msg}"></p>
                <form class="login-form" th:action="@{/setpassword}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">メールアドレス
                           <a href="" id="linkSend">(再送信)</a>
                        </label>
                        <input type="email" class="form-control" id="email" name="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="token" class="form-label">トークン：</label>
                        <input type="number" class="form-control" id="token" name="token" placeholder="トークンを入力ください。" required>
                        <div id="token-error" class="text-danger  mt-1">　</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">パスワード：</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="パスワードを入力ください。" required>
                        <div id="password-error" class="text-danger  mt-1">　</div>
                    </div>
                    <div class="mb-3">
                        <label for="rePassword" class="form-label">パスワード再入力：</label>
                        <input type="password" class="form-control" id="rePassword" name="rePassword" placeholder="パスワード再入力を入力ください。" required>
                        <div id="rePassword-error" class="text-danger  mt-1">　</div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block btn-outline-success" id="submit">ＯＫ</button>
                </form>
                    <a href="/login" class="btn btn-outline-danger mt-2">ログイン</a>
            </div>
        </div>
    </div>
    <script src="style/js/setPassword.js"></script>
</body>
</html>