<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juneutf.mtg.mapper.OperationMapper">
	<select id="selectCharge" resultType="com.juneutf.mtg.model.OperationModel">
	SELECT id,fullname AS tableName,status
	FROM user_infor ORDER BY id ASC;
	</select>
	<select id="selectPurpose" resultType="com.juneutf.mtg.model.OperationModel">
	SELECT id,purpose AS tableName,status
	FROM purpose ORDER BY id ASC;
	</select>
	<update id="deleteByIdAndtableName" parameterType="com.juneutf.mtg.model.TableModel">
	UPDATE 
	<if test="tableName =='purpose'">
        purpose
    </if>
    <if test="tableName =='user_infor'">
        user_infor
    </if>
	 SET status = '削除'  WHERE id = #{id};
	</update>
	<update id="restoreByIdAndtableName" parameterType="com.juneutf.mtg.model.TableModel">
	UPDATE
	<if test="tableName =='purpose'">
        purpose
    </if>
    <if test="tableName =='user_infor'">
        user_infor
    </if>
	SET status = '使用中'  WHERE id = #{id};
	</update>
	
	
	<update id="editByIdAndtableName" parameterType="com.juneutf.mtg.model.TableModel">
	UPDATE 
	<if test="tableName =='purpose'">
        purpose SET purpose = #{textEdit} WHERE id = #{id};
    </if>
    <if test="tableName =='user_infor'">
        user_infor SET fullname =#{textEdit} WHERE id = #{id};
    </if>
	</update>
	
	<insert id="regByIdAndtableName" parameterType="com.juneutf.mtg.model.TableModel" keyProperty="id">
	INSERT  INTO 
	<if test="tableName =='purpose'">
        purpose (purpose,status) VALUES( #{textEdit},'使用中');
    </if>
    <if test="tableName =='user_infor'">
        user_infor (username, email, password, status, role,fullname) VALUES(#{username},#{email},#{password},'使用中','USER',#{fullname});
    </if>
	</insert>
	<select id="checkUserNameAndEmail" resultType="com.juneutf.mtg.model.TableModel">
	SELECT username,email
	FROM user_infor WHERE username = #{username} OR email = #{email};
	</select>
	<select id="checkPurpose" resultType="com.juneutf.mtg.model.TableModel">
	SELECT purpose
	FROM purpose WHERE purpose = #{purpose};
	</select>
	
</mapper>