<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juneutf.mtg.mapper.PlanMapper">

	<insert id="insertPlan" parameterType="com.juneutf.mtg.model.PlanModel" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO plan
    (date_day, date_plan, time_start, time_end, purpose, charge, status,registerid)
    VALUES
    (#{date_day}, #{date_plan}::date, #{time_start}, #{time_end}, #{purpose}, #{charge}, '予約中',#{registerid})
	</insert>

	<select id="selectPlan" resultType="com.juneutf.mtg.model.JobModel">
	SELECT plan.ID, plan.date_day, plan.date_plan, plan.time_start, plan.time_end, user_infor.fullname AS charge,purpose.purpose AS purpose, plan.status
	FROM plan
	JOIN user_infor ON plan.charge = user_infor.ID
	JOIN purpose ON plan.purpose = purpose.ID
	WHERE plan.date_plan >= current_date AND plan.status = '予約中'
	ORDER BY plan.date_plan ASC;
	</select>
	<select id="selectPlanAPI" resultType="com.juneutf.mtg.model.JobModel">
	SELECT plan.ID, plan.date_day, plan.date_plan, plan.time_start, plan.time_end, user_infor.fullname AS charge,purpose.purpose AS purpose, plan.status
	FROM plan
	JOIN user_infor ON plan.charge = user_infor.ID
	JOIN purpose ON plan.purpose = purpose.ID
	WHERE plan.date_plan >= current_date
	ORDER BY plan.date_plan ASC;
	</select>
	<select id="selectMaxIdPlan" resultType="com.juneutf.mtg.model.JobModel">
	SELECT MAX(id) FROM plan
	</select>
	<select id="selectPublicId" resultType="com.juneutf.mtg.model.JobModel">
	SELECT id, fullname AS charge FROM user_infor WHERE id = #{id}  OR publicid=1  AND status = '使用中'
	ORDER BY CASE WHEN id = #{id} THEN 0 ELSE 1 END, id ASC;
	
	</select>
	<select id="selectPlanEdit" resultType="com.juneutf.mtg.model.JobModel">
	SELECT plan.ID, plan.date_day, plan.date_plan, plan.time_start, plan.time_end, user_infor.fullname AS charge,purpose.purpose AS purpose, plan.status
	FROM plan
	JOIN user_infor ON plan.charge = user_infor.ID
	JOIN purpose ON plan.purpose = purpose.ID
	WHERE plan.date_plan >= current_date AND plan.status = '予約中' and plan.id != #{id}
	</select>
	
</mapper>