<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juneutf.mtg.mapper.PlanMapper">

	<insert id="insertPlan" parameterType="com.juneutf.mtg.model.PlanModel" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO plan
    (date_day, date_plan, time_start, time_end, purpose, charge, status)
    VALUES
    (#{date_day}, #{date_plan}::date, #{time_start}, #{time_end}, #{purpose}, #{charge}, '予約中')
	</insert>

	<select id="selectPlan" resultType="com.juneutf.mtg.model.JobModel">
	SELECT plan.ID, plan.date_day, plan.date_plan, plan.time_start, plan.time_end, charge.charge AS charge,purpose.purpose AS purpose, plan.status
	FROM plan
	JOIN charge ON plan.charge = charge.ID
	JOIN purpose ON plan.purpose = purpose.ID
	WHERE plan.date_plan >= current_date	AND plan.status = '予約中'
	ORDER BY plan.date_plan ASC;
	</select>
	<select id="selectMaxIdPlan" resultType="com.juneutf.mtg.model.JobModel">
	SELECT MAX(id) FROM plan
	</select>
	
</mapper>