<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juneutf.mtg.mapper.SetPasswordMapper">

	<select id="selectEmail" resultType="com.juneutf.mtg.model.SetPasswordModel">
    SELECT email FROM user_infor WHERE email = #{email}
	</select>
	<update id="updateTokenByEmail" parameterType="com.juneutf.mtg.model.SetPasswordModel">
	UPDATE user_infor SET token = #{token} WHERE email = #{email}
	</update>
	<select id="selectTokenByEmail" resultType="com.juneutf.mtg.model.SetPasswordModel">
    SELECT token FROM user_infor WHERE email = #{email}
	</select>
	<update id="updatePasswordByEmail" parameterType="com.juneutf.mtg.model.SetPasswordModel">
	UPDATE user_infor SET password = #{password} WHERE email = #{email}
	</update>

</mapper>